@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);
html body {
  font-family: 'Roboto', sans-serif; }

#header {
  padding-top: 30vh;
  text-align: center;
  height: 100vh; }
  #header h1 {
    font-size: 20vmin; }
  #header h4 {
    font-size: 5vmin; }

.content-row {
  padding-top: 20px;
  padding-bottom: 20px; }
  .content-row h2 {
    text-align: center; }

#about, #work {
  background-color: #EAEEF1; }

h1 {
  font-weight: 900; }

h2, h4 {
  font-weight: 700; }

hr {
  border: 1px solid #3C565E; }

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3C565E;
  color: #ffffff;
  text-align: center; }
  footer .icon-row {
    margin-bottom: 20px; }
  footer img {
    max-width: 50px; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #EAEEF1; }
    footer a:visited {
      color: #EAEEF1;
      text-decoration: none; }
