@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);
@keyframes blue {
  0% {
    margin-top: -700px;
    opacity: 1;
    transform: skewX(0deg); }
  40% {
    margin-top: 0px;
    transform: skewX(0deg); }
  70% {
    transform: skewX(0deg); }
  100% {
    opacity: 1;
    transform: skewX(-20deg); } }

@keyframes green {
  0% {
    margin-top: 2000px;
    opacity: 1;
    transform: skewY(5deg); }
  100% {
    transform: skewY(5deg);
    opacity: 1; } }

@keyframes pink {
  from {
    margin-left: -700px;
    opacity: 1; }
  to {
    transform: rotate(1.5turn);
    transform: rotate(-200deg);
    margin-left: 0px;
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    z-index: 0; } }

html body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

header {
  padding-top: 30vh;
  text-align: center;
  height: 100vh; }
  header h1 {
    font-weight: 900;
    font-size: 20vmin; }
  header h4 {
    font-weight: 700;
    font-size: 5vmin; }
  header h1, header h4 {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    z-index: 1; }
  header .box {
    position: absolute;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.75s; }
  header #box1 {
    background-color: rgba(54, 96, 250, 0.5);
    height: 45vh;
    width: 45vw;
    top: 20vh;
    left: 30vw;
    z-index: -3;
    animation-name: blue;
    animation-delay: 0.2s; }
  header #box2 {
    background-color: rgba(250, 54, 132, 0.5);
    height: 30vh;
    width: 20vw;
    top: 20vh;
    left: 20vw;
    z-index: -2;
    animation-name: pink;
    animation-delay: 0.4s; }
  header #box3 {
    background-color: rgba(28, 232, 148, 0.5);
    height: 45vh;
    width: 35vw;
    top: 30vh;
    left: 45vw;
    z-index: -2;
    animation-name: green;
    animation-delay: 0.5s; }

.content-row {
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1; }
  .content-row h2 {
    font-weight: 700;
    text-align: center; }

#about, #work {
  background-color: #EAEEF1; }

hr {
  border: 1px solid #3C565E; }

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3C565E;
  color: #ffffff;
  text-align: center; }
  footer .icon-row {
    margin-bottom: 20px; }
  footer img {
    max-width: 50px; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #EAEEF1; }
    footer a:visited {
      color: #EAEEF1;
      text-decoration: none; }
