/*html {font-family: 'Roboto', sans-serif;}
*/
#header {
	background-color: #eeeeee;
	font-size: 500px; 
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
}

#education {
	background-color: #eeeeee;
	font-size: 500px; 
}

/**********************************/

#submitEmail {
  margin-bottom: 30px;
  margin-top: 15px;
}

#aboutText {
	margin-bottom: 20px;
}

#education ul {
	font-size: 16px;
}

#work {
	margin-bottom: 20px;
}

footer {
	padding: 5px;
	background-color: #eeeeee;
	color: #000000;
}
