.jumbotron {
	background-image: url("../imgs/1.jpg");
	background-size: cover;
	min-height: 750px;
}

h2 {
	text-align: center;
}

#headerText {
	color: #ffffff;
}

#aboutText {
	margin-bottom: 20px;
}

#education {
	/*background-color: #3761A9;*/
	background-image: url("../imgs/2bkr.jpg");
    background-attachment: fixed;
	background-size: cover;
	color: #ffffff;
}
#education ul {
	font-size: 20px;
}

#work {
	margin-bottom: 20px;
}

#skills {
	background-color: #6FD3CB;
	color: #ffffff;
	padding:25px;	
}

#contact {
	padding: 25px;
}

#submitEmail {
	padding:15px;
}

#mailResponse { 
	padding:15px;
}

footer {
	padding: 5px;
	background-color: #777777;
	color: #ffffff;
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
}
.submissionMessage {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}

.underTabContent {
	padding: 5px;
}