@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);

$light-bg: #EAEEF1;
$dark-bg: #3C565E;

html body {
	font-family: 'Roboto', sans-serif;
}

#header {
	padding-top: 30vh;
	text-align: center;
	height: 100vh;
	h1 {
		font-size: 20vmin;
	}
	h4 {
		font-size: 5vmin;
	}
}

.content-row {
	padding-top: 40px;
	padding-bottom: 40px;
	h2 {
		text-align: center;
	}
}

#about, #work {
	background-color: $light-bg;
}

h1 {
	font-weight: 900;
}

h2, h4 {
	font-weight: 700;
}

hr {
	border: 1px solid $dark-bg;
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $dark-bg;
	color: #ffffff;
	text-align: center;
	.icon-row {
		margin-bottom: 20px;
	}
	img {
		max-width: 50px;
	}
	a {
		color: #ffffff;
		&:hover {
			color: $light-bg;
		}
		&:visited {
			color: $light-bg;
			text-decoration: none;
		}
	}
}