@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);

$light-bg: #EAEEF1;
$dark-bg: #3C565E;
$box-color: #3660FA;

@keyframes blue {
  0% {
  	margin-top: -700px;
	opacity: 1;
  }
  30% {
  	transform: rotate(0deg);
  }
  55% {
  	transform: rotate(5deg);
  }
  85% {
  	transform: rotate(-5deg);
  }
  100% {
	margin-top: 0px;  
	opacity: 1;
  }
}

@keyframes green {
  0% {
  	margin-top: 2000px;
	opacity: 1;
  }
  30% {
  	transform: rotate(0deg);
  }
  55% {
  	transform: rotate(5deg);
  }
  85% {
  	transform: rotate(-5deg);
  }
  100% {
	margin-top: 0px;  
	opacity: 1;
  }
}

@keyframes pink {
  0% {
  	margin-left: -700px;
	opacity: 1;
  }
  25% {
  	transform: rotate(-50deg);
  }
  50% {
  	transform: rotate(-100deg);
  }
  75% {
  	transform: rotate(-150deg);
  }
  100% {
  	transform: rotate(-200deg);
  	margin-left: 0px;
	opacity: 1;
  }
}

@keyframes grow {
	0% {
		margin-top: 700px;
	}
	99% {
		opacity: 1;
	}
}

html body {
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
	padding-top: 30vh;
	text-align: center;
	height: 100vh;
	h1 {
		font-weight: 900;
		font-size: 20vmin;
  		/*animation-name: grow;
		animation-duration: 1s;  
		animation-delay: 1s;
		opacity: 0;
		animation-fill-mode: forwards;*/
	}
	h4 {
		font-weight: 700;
		font-size: 5vmin;
  		/*animation-name: grow;
		animation-duration: 1s; 
		animation-delay: 1s;*/
	}
	.box {
		position: absolute;
  		z-index: -2;
  		opacity: 0;
		animation-fill-mode: forwards;
		animation-duration: 0.75s;
	}
	#box1 {
		background-color: rgba( #3660FA, 0.5 );
		height: 45vh;
		width: 45vw;
		top: 20vh;
  		left: 30vw;
  		animation-name: blue;
		animation-delay: 0.2s;
  		transform: skewX(-25deg);
	}
	#box2 {
		background-color: rgba( #FA3684, 0.5 );
		height: 30vh;
		width: 20vw;
		top: 20vh;
  		left: 20vw;
		animation-name: pink;
		animation-delay: 0.4s;
  		transform: rotate(-200deg);
	}
	#box3 {
		background-color: rgba( #1CE872, 0.5 );
		height: 45vh;
		width: 35vw;
		top: 30vh;
  		left: 45vw;
  		animation-name: green;
		animation-delay: 0.5s;
  		transform: skewY(5deg);
	}
}

.content-row {
	padding-top: 40px;
	padding-bottom: 40px;
	h2 {
		font-weight: 700;
		text-align: center;
	}
}

#about, #work {
	background-color: $light-bg;
}

hr {
	border: 1px solid $dark-bg;
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $dark-bg;
	color: #ffffff;
	text-align: center;
	.icon-row {
		margin-bottom: 20px;
	}
	img {
		max-width: 50px;
	}
	a {
		color: #ffffff;
		&:hover {
			color: $light-bg;
		}
		&:visited {
			color: $light-bg;
			text-decoration: none;
		}
	}
}