<div class="container" id="aboutText">
    <h2>About</h2>
    <hr>
    <div class="row">
    	<div class="col-lg-6 col-md-8">
    		<p>I am a software developer living in Norfolk, Virginia. I am interested in building concise, responsive, and scalable web applications. While I am most interested in front end and UI/UX design, but have some back end experience as well. I hope to eventually work with iOS development.</p>
            <p>Aside from programming I have a passion for music, bicycles, and reading.</p>
            <p><a href="#contact">Contact me</a> if you'd like to know more!</a>
    	</div>
    	<div class="col-lg-6 col-md-4">
            <img class="img-responsive" src="./imgs/3.jpg">
        </div>
    </div>
</div>