<div class="container" id="aboutText">
    <h2>About</h2>
    <hr>
    <div class="row">
    	<div class="col-lg-6 col-md-8">
    		<p>Timothy Holmes is a software developer from Norfolk, Virginia. He is studying Computer Science at Old Dominion University, and will be graduating in Spring 2015. His areas of interest include web and mobile development. Currently he is working on web applications for StarChase LLC. His research includes developing a GUI for "black box" genome sequencers.</p>
    	</div>
    	<div class="col-lg-6 col-md-4">
            <img class="img-responsive" src="./imgs/3.jpg">
        </div>
    </div>
</div>