<div id="contact">
	<div class="container">    
	<h2>Contact</h2>
    <hr>  
		<div class="row">
			<form data-ng-submit="submitForm()" novalidate>
			  <label for="name">Name</label>
			  <input type="text" name="name" data-ng-model="formData.name" data-ng-class="{'error' : errorName}" class="form-control">
			  <label for="email">E-mail</label>
			  <input type="email" name="email" data-ng-model="formData.email" data-ng-class="{'error' : errorEmail}" class="form-control">
			  <label for="message">Message</label>
			  <textarea name="message" data-ng-class="{'error' : errorTextarea}"data-ng-model="formData.message" class="form-control" rows="10"></textarea>
			  <div id="submitEmail"><input type="submit" class="btn btn-primary pull-right" value="Submit" /></div>
			</form>
		</div>
		<div id="mailResponse">
			<div data-ng-show="error" class="alert alert-danger" data-ng-bind="submissionMessage" role="alert"></div>
			<div data-ng-show="madeIt" class="alert alert-success" data-ng-bind="submissionMessage" role="alert"></div>
		</div>
	</div>
</div>