<div id="education">
	<div class="container">    
	<h2>Education</h2>
    <hr>
		<div class="row">
			<div class="col-lg-5 col-md-4">
				<img class="img-responsive" src="./imgs/2.jpg">
			</div>
			<div class="col-lg-7 col-md-8">
				<h2>Bachelor of Science: Computer Science</h2>
				<ul>
					<li>Old Dominion University</li>
					<li>Spring 2015</li>
					<li>GPA: 3.17</li>
					<li>Member of National Society of Collegiate Scholars</li>
					<li>Member of Association for Computing Machinery</li>
				</ul>
			</div>
		</div>
	</div>
</div>