<div id="work">
	<div class="container">    
	<h2>Work</h2>
    <hr>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
        	<h3>Software Development Intern</h3>
			<ul>
				<li>StarChase LLC</li>
				<li>May 2015 - Present</li>
				<li>Build web applications for internal and commercial use</li>
					<ul>
						<li>Front end: HTML/CSS, JavaScript, Google Maps API v3, AngularJS</li>
						<li>Middleware: AJAX, JSON</li>
						<li>Back end: PHP, Python</li>
						<li>DBMS: MySQL</li>
					</ul>
				<li>Implement changes to <a href="http://starchase.com">company website</a></li>
			</ul>
        </div>
        <div class="col-md-4">
        	<h3>Peer Advisor</h3>
			<ul>
				<li>Old Dominion University Computer Science Department</li>
				<li>September 2013 – May 2015</li>
				<li>Maintain the advising section of the Computer Science website</li>
				<li>Assist students with signing up for classes for the current semester, and planning for the future</li>
			</ul>
       </div>
        <div class="col-md-4">
        	<h3>Research Assistant</h3>
			<ul>
				<li>Old Dominion University Research Foundation</li>
				<li>May 2013 – September 2013</li>
				<li>Worked on a team of student software developers to provide quality products to clients</li>
				<li>Design a prototype website for the ODU STEM department</li>
				<ul>
					<li>Built with HTML/CSS, jQuery, and PHP</li>
					<li>Source code available <a href="https://github.com/timothyholmes/stem-site-prototype">here.</a></li>
					<li>Live Version available <a href="http://www.cs.odu.edu/~tholmes/STEM/main.php">here.</a></li> 
				</ul>
			</ul>
        </div>
      </div>
	</div>
</div>